configuration {
  combi-hide-mode-prefix : true;
  cycle                  : false;
  display-combi          : "run";
  font                   : "JetBrains Mono 14";
  kb-accept-entry        : "Control+m,Return,KP_Enter";
  kb-remove-to-eol       : "";
  kb-row-down            : "Down,Control+n,Control+j";
  kb-row-up              : "Up,Control+p,Control+k,ISO_Left_Tab";
  theme                  : "gruvbox-dark-soft";
}
