[Unit]
Description=Rclone Mount Service (Mega Personal)
Wants=network-online.target
After=network-online.target
ConditionFileIsExecutable=/usr/sbin/rclone
ConditionPathIsDirectory=%h/.config/rclone
ConditionFileNotEmpty=%h/.config/rclone/rclone.conf
ConditionPathIsDirectory=%h/doc/mega-personal

[Service]
Type=notify
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf
ExecStart=rclone mount mega-personal:/ %h/doc/mega-personal
ExecStop=/bin/fusermount -uz %h/doc/mega-personal
Restart=on-failure

[Install]
Alias=rclone-mount-mega-personal.service
WantedBy=default.target
