[Unit]
Description=Rclone Mount Service (Google Drive Personal)
Wants=network-online-target
After=network-online-target
ConditionFileIsExecutable=/usr/sbin/rclone
ConditionPathIsDirectory=%h/.config/rclone
ConditionFileNotEmpty=%h/.config/rclone/rclone.conf
ConditionPathIsDirectory=%h/doc/gdrive-personal

[Service]
Type=notify
Environment=RCLONE_CONFIG=%h/.config/rclone/rclone.conf
ExecStart=rclone mount gdrive-personal:/ %h/doc/gdrive-personal
ExecStop=/bin/fusermount -uz %h/doc/gdrive-personal
Restart=on-failure

[Install]
Alias=rclone-mount-gdrive-personal.service
WantedBy=default.target
